
User name: <%= @user.name %>

<center>
  <div class="new_heading">
    <h2 class="header">
      Euchre
    </h2>
    <font class="card">
      🂡
    </font>

    <div class="selection_box">
      <div class="selection_form">
        <%= form_for Game.new do |f| %>
          <%= hidden_field_tag :user_id, @user.id %>

          <%= radio_button_tag(:player_number, 2, checked: false) %>
          <%= label_tag(:players_two, "2 Players") %>
          <br>
          <%= radio_button_tag(:player_number, 4, checked: true) %>
          <%= label_tag(:players_four, "4 Players") %>
          <br>
          <%= f.submit "Start Game" %>
        <% end %>
      </div>
    </div>
  </div>

</center>
