
<div class="player_space opposite_player_space">
  <div class="hand">
    <%@game_state.players[2].hand.each do |card| %>
      <span class="hand_card"><%= Card::UNICODE_CARDS[:back].first %></span>
    <%end%>
  </div>
  <div class="player_name"><%= @game_state.players[2].name %></div>
</div>

<div class="player_space left_player_space">
  <div class="hand">
      <%@game_state.players[1].hand.each do |card| %>
        <span class="hand_card"><%= Card::UNICODE_CARDS[:back].first%></span>
      <%end%>
  </div>
  <div class="player_name"><%= @game_state.players[1].name %></div>
</div>

<div class="player_space right_player_space">
  <div class="hand">
    <%@game_state.players[3].hand.each do |card| %>
      <span class="hand_card"><%= Card::UNICODE_CARDS[:back].first%></span>
    <%end%>
  </div>
  <div class="player_name"><%= @game_state.players[3].name %></div>
</div>

<%= render partial: "card_pile_show" %>

<div class="player_space own_player_space">
  <div class="hand">
    <%@game_state.players.first.hand.each do |card| %>
      <a class="hand_card" href="<%=play_card_operation_url(card.suit, card.rank)%>">
        <%= card.to_s%>
      </a>
    <%end%>
  </div>
  <div class="won_cards">Won some cards here</div>
  <div class="player_name"><%= @game_state.players.first.name %></div>
</div>
