
<div class="hand opposite_hand">
  <%@game_state.players[2].hand.each do |card| %>
    <span class="hand_card"
          >
    <%= Card::UNICODE_CARDS[:back].first %>
    </span>
  <%end%>
</div>

<div class="hand left_hand">
    <%@game_state.players[1].hand.each do |card| %>
      <span class="hand_card"><%= Card::UNICODE_CARDS[:back].first%></span>
    <%end%>
</div>

<div class="hand right_hand">
  <%@game_state.players[3].hand.each do |card| %>
    <span class="hand_card"><%= Card::UNICODE_CARDS[:back].first%></span>
  <%end%>
</div>

<%= render partial: "card_pile_show" %>

<div class="hand own_hand">
  <%@game_state.players[0].hand.each do |card| %>
    <a class="hand_card"href="<%=play_card_operation_url(card.suit, card.rank)%>">
      <%= card.to_s%>
    </a>
  <%end%>
</div>
