<div class="status">
  Points: <%= @game_state.players.map(&:total_score) %><br />
  Dealer: <%= @game_state.dealer.name %><br />
  Trump: <%= @game_state.trump_suit.capitalize %><br />
  <br />
  Trick Counter: <%= @game_state.trick_counter %><br />
</div>

<% if @game.players.size == 4 %>
  <%= render partial: "games/tables/four_player" %>
<%else%>
  <%= render partial: "games/tables/two_player" %>
<%end%>

