
<h4>Trump Selection</h4>

<% if @game_state.trump_state.pick_phase? %>
  <%# Trump picking should happen here %>
<% end %>

<div class="status">
  <pre><%= @game.event_log %></pre>
</div>

<div class="center_card">
  <%= @game.unicode_card(@game_state.trump_state.selection_card) %>
</div>

<div style="margin: 0 auto 0 auto; display: table">
  <a href="<%= new_game_player_operation_path(
    @game.id,
    @game.main_player.id,
    { operation_type: 'accept_trump' }
  )%>">
    <button type="button" >Accept</button>
  </a>
  <!--TODO use link_to  -->
  <a href="<%= new_game_player_operation_path(
    @game.id,
    @game.main_player.id,
    { operation_type: 'pass_trump' }
  )%>">
    <button type="button" >Pass</button>
  </a>
</div>

<h5>Hand</h5>

<div style="width: 350px; margin: 0 auto 0 auto">
  <%= render partial: 'games/table/hand',
    locals: { player: @game_state.main_player} %>
</div>
