<h4>Trump Selection</h4>

<% if @game_state.trump_state.pick_phase? %>
  <%# Trump picking should happen here %>
<% end %>

<div class="status">
  <pre><%= @game.event_log %></pre>
</div>

<div class="center_card">
  <%= @game.unicode_card(@game_state.trump_state.selection_card) %>
</div>

<div style="margin: 0 auto 0 auto; display: table">
  <%= link_to "Accept", new_game_player_operation_path(@game, @game.main_player,
        { operation_type: 'accept_trump' }), class: "trump_button" %>
  <%= link_to "Pass", new_game_player_operation_path(@game, @game.main_player,
        { operation_type: 'pass_trump' }), class: "trump_button" %>
</div>

<h5>Hand</h5>

<div class="hand_container">
  <%= render partial: 'games/table/hand',
    locals: { player: @game_state.main_player, face_up: true } %>
</div>
