<table>
  <tr>
    <td>
    </td>
    <td>
      <div class="game">
        <div class="opposite_player_space">
          <%= render partial: 'games/table/player',
            locals: { player: @game_state.ai_players[1], hidden: true } %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="left_player_space">
          <%= render partial: 'games/table/player',
            locals: { player: @game_state.ai_players[0], hidden: true } %>
        </div>
      </td>
      <td>
        <%= render partial: "games/table/pile" %>
      </td>
      <td>
        <div class="right_player_space">
          <%= render partial: 'games/table/player',
            locals: { player: @game_state.ai_players[2], hidden: true } %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <div class="own_player_space">
          <%= render partial: 'games/table/player',
            locals: { player: @game_state.main_player } %>
        </div>
      </div>
    </td>
  </tr>
</table>

