<div class="hand">
  <% hidden = defined?(hidden) ? hidden : false %>
  <% read_only = defined?(read_only) ? read_only : hidden %>
  <% interactive = defined?(interactive) ? interactive : false %>

  <div class="player_space_header">
    <div class="player_points"><%= @game.points_string(player.total_score) %></div>
  </div>

  <% player.hand.each do |card| %>
    <% dynamic = !hidden && !read_only && @game_state.valid_play?(player, card) || interactive %>
    <a class="<%= @game.hand_card_css_class(dynamic: dynamic) %>"
      href="<%=new_game_player_operation_path(
        @game.id,
        player.player.id,
        {
          operation_type: 'play_card',
          suit: card.suit,
          rank: card.rank
        }
      )%>">

       <%= @game.unicode_card(card) if !hidden %>
       <%= @game.unicode_card_back  if  hidden %>
    </a>
  <%end%>
</div>
<!-- TODO move this stuff into model so there is fewer logical statements in here -->
