<div class="game">
  <div class="player_space opposite_player_space">
    <div class="hand">
      <%@game_state.ai_players.first.hand.each do |card| %>
        <span class="hand_card"><%= unicode_card_back %></span>
      <%end%>
    </div>
    <div class="won_cards">
      <% @game_state.ai_players.first.scored_cards.each do |card| %>
        <%= unicode_card(card) %>
      <% end %>
    </div>
    <div class="player_name"><%= @game_state.ai_players.first.name %></div>
  </div>

  <%= render partial: "pile" %>

  <div class="player_space own_player_space">
    <div class="hand">
      <%@game_state.main_player.hand.each do |card| %>
        <a href="<%=play_card_operation_url(card.suit, card.rank)%>"
           class="hand_card"><%= unicode_card(card) %></a>
      <%end%>
    </div>
    <div class="won_cards">
      <% @game_state.main_player.scored_cards.each do |card| %>
        <%= unicode_card(card) %>
      <% end %>
    </div>
    <div class="player_name"><%= @game_state.main_player.name %></div>
  </div>
</div>
</div>
