<!DOCTYPE html>
<html>
<head>
  <title>RailsEuchre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <ul>
    <li><%= link_to "View Users", users_path %></li>
    <li><%= link_to "New User", new_user_path %></li>
  </ul>
</div>

<div id="content">
  <%= yield %>
</div>

<div id="footer">
  hello
</div>

</body>
</html>
